<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thought Repository</title>
</head>
<body>
TrackerSpring // Repetitive Thought Detainer
<br><br>
This tool will help you pin your recurring thoughts down and track their frequency.
<br><br>
This way they are less likely to recur and cause stress that can murder you slowly.
<br><br>
{{^user}}
<form action="login" method="post">
    <input type="text" placeholder="userName" name="userName" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Login</button>
</form>
{{/user}}
<br><br>
{{#user}}
Welcome, {{name}}!
<br><br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>
    <a href="/">All</a>
    <a href="/?category=charity">Charity</a>
    <a href="/?category=community">Community</a>
    <a href="/?category=entertainment">Entertainment</a>
    <a href="/?category=faith">Faith</a>
    <a href="/?category=family">Family</a>
    <a href="/?category=freedom">Freedom</a>
    <a href="/?category=maintenance">Maintenance</a>
    <a href="/?category=marriage">Marriage</a>
    <a href="/?category=money">Money</a>
    <a href="/?category=parenting">Parenting</a>
    <a href="/?category=tools">Tools</a>
    <a href="/?category=training">Training</a>
    <a href="/?category=vocation">Vocation</a>
<br><br>
<form action="/" method="get">
    <input type="text" placeholder="Search descriptions" name="search">
    <button type="submit">Search Descriptions</button>
</form>
<br><br>
<form action="/add-thought" method="post">
    <input type="text" placeholder="Description" name="descriptionText" size="50"/>
    <select name="thoughtCategory">
        <option selected disabled>Category</option>
        <option value="charity">Charity</option>
        <option value="community">Community</option>
        <option value="entertainment">Entertainment</option>
        <option value="faith">Faith</option>
        <option value="family">Family</option>
        <option value="freedom">Freedom</option>
        <option value="maintenance">Maintenance</option>
        <option value="marriage">Marriage</option>
        <option value="money">Money</option>
        <option value="parenting">Parenting</option>
        <option value="tools">Tools</option>
        <option value="training">Training</option>
        <option value="vocation">Vocation</option>
    </select>
    <input type="datetime-local" name="dateTime" value="{{now}}"/>
    <button type="submit">Detain Thought!</button>
</form>
{{/user}}
<ol>
    {{#thoughts}}
    <li>
        DESCRIPTION:||{{description}}||    CATEGORY:||{{category}}||    Day of occurence:||{{dateTime}}||
        {{#user}}
        <form action="/edit-thought" method="post">
            <input type="hidden" value="{{thoughtId}}" name="thoughtId">
            <input type="text" placeholder="Enter Replacement Description" name="descriptionText" size="50">
            <button type="submit">Update Thought!</button>
        </form>
        <form action="/delete-thought" method="post">
            <input type="hidden" value="{{thoughtId}}" name="thoughtId">
            <button>Delete Thought!</button>
        </form>
        {{/user}}
    </li>
    {{/thoughts}}
</ol>


</body>
</html>